In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/platea.csv")

In [ ]:
df

    area      reg    eta  totale_popolazione
0    ABR  Abruzzo  05-11               76431
1    ABR  Abruzzo  12-19               94727
2    ABR  Abruzzo  20-29              125230
3    ABR  Abruzzo  30-39              146965
4    ABR  Abruzzo  40-49              187162
..   ...      ...    ...                 ...
184  VEN   Veneto  40-49              715790
185  VEN   Veneto  50-59              806474
186  VEN   Veneto  60-69              610635
187  VEN   Veneto  70-79              494721
188  VEN   Veneto    80+              375784

[189 rows x 4 columns]

il numero di record presente nel file

In [ ]:
len(df)

189

il numero di regioni presente nel file

In [ ]:
df.groupby("reg")[["eta"]].count()

                       eta
reg
Abruzzo                  9
Basilicata               9
Calabria                 9
Campania                 9
Emilia-Romagna           9
Friuli-Venezia Giulia    9
Lazio                    9
Liguria                  9
Lombardia                9
Marche                   9
Molise                   9
P.A. Bolzano             9
P.A. Trento              9
Piemonte                 9
Puglia                   9
Sardegna                 9
Sicilia                  9
Toscana                  9
Umbria                   9
Valle d'Aosta            9
Veneto                   9

 il numero di abitanti di ogni regione. Ordinare in ordine decrescente sul numero di abitanti

In [ ]:
dfbar= df.groupby("reg")["totale_popolazione"].sum().reset_index().sort_values(by=["totale_popolazione"],ascending=False)
dfbar

                      reg  totale_popolazione
8               Lombardia             9904997
6                   Lazio             5530930
3                Campania             5484138
20                 Veneto             4684641
16                Sicilia             4629898
4          Emilia-Romagna             4300226
13               Piemonte             4175308
14                 Puglia             3819923
17                Toscana             3583122
2                Calabria             1803821
15               Sardegna             1568672
7                 Liguria             1480468
9                  Marche             1456240
0                 Abruzzo             1265353
5   Friuli-Venezia Giulia             1163152
18                 Umbria              839373
1              Basilicata              524588
12            P.A. Trento              523508
11           P.A. Bolzano              505027
10                 Molise              288826
19          Valle d'Aosta              117843

la regione con il numero di abitanti piÃ¹ alto

In [ ]:
dfbar[:1].reset_index()

In [ ]:
x= df.groupby("reg")["totale_popolazione"].sum().max()
x

9904997

In [ ]:
dfbar[dfbar.totale_popolazione == x][['reg']]

 il numero medio di abitanti delle regioni

In [ ]:
max=df.groupby("reg")["totale_popolazione"].sum().mean()
max

2745240.6666666665

 le regioni che hanno piÃ¹ abitanti della media degli abitanti delle regioni

In [ ]:
dfbar[dfbar.totale_popolazione > max]

               reg  totale_popolazione
8        Lombardia             9904997
6            Lazio             5530930
3         Campania             5484138
20          Veneto             4684641
16         Sicilia             4629898
4   Emilia-Romagna             4300226
13        Piemonte             4175308
14          Puglia             3819923
17         Toscana             3583122

 la regione che ha piÃ¹ abitanti nella fascia 12-19

In [ ]:
df.groupby(df.reg[df.eta=="12-19"])[["totale_popolazione"]].sum().sort_values(by=["totale_popolazione"],ascending=False)[:1]

           totale_popolazione
reg
Lombardia              794486

In [ ]:
y= df.groupby(df.reg[df.eta=="12-19"])[["totale_popolazione"]].sum().max()
y

totale_popolazione    794486
dtype: int64

In [ ]:
df[df.reg[df.eta=="12-19"]["totale_popolazione"] == y][['reg']]

In [ ]:
df

    area      reg    eta  totale_popolazione
0    ABR  Abruzzo  05-11               76431
1    ABR  Abruzzo  12-19               94727
2    ABR  Abruzzo  20-29              125230
3    ABR  Abruzzo  30-39              146965
4    ABR  Abruzzo  40-49              187162
..   ...      ...    ...                 ...
184  VEN   Veneto  40-49              715790
185  VEN   Veneto  50-59              806474
186  VEN   Veneto  60-69              610635
187  VEN   Veneto  70-79              494721
188  VEN   Veneto    80+              375784

[189 rows x 4 columns]

il numero di abitanti per ogni fascia d'etÃ

In [ ]:
df.groupby("eta")["totale_popolazione"].sum()

la fascia d'etÃ  con piÃ¹ abitanti

In [ ]:
df.groupby("eta")["totale_popolazione"].sum().sort_values(by=["totale_popolazione"],ascending=False)[:1]

un grafico a barre orizzontali per l'esercizio 3

In [ ]:
fig, ax = plt.subplots(figsize=(10,8))
ax.barh(dfbar.reg,dfbar.totale_popolazione,label="abitanti")
plt.yticks(fontsize=15)
ax.legend()
ax.set_ylabel('regioni')
ax.set_xlabel('abitanti')
ax.set_title('numero di abitanti di ogni regione')